<?xml version="1.0"?>
<configuration>
  
  <appSettings>
    <add key="LogFile" value="log{Date}.txt"/>
    <add key="LogMsg" value="{DateTime} : {Msg}"/>
    <!--<add key="GetHighestBuy" value="http://localhost:50580/TradeData/GetHighestBuyRequest" />
    <add key="GetLowestSell" value="http://localhost:50580/TradeData/GetLowestSellRequest" />
    <add key="Callback" value="http://localhost:50580/TradeData/TradeOrderCallbackHandles" />-->
    <add key="GetHighestBuy" value="http://211.149.145.29/TradeData/GetHighestBuyRequest.php" />
    <add key="GetLowestSell" value="http://211.149.145.29/TradeData/GetLowestSellRequest.php" />
    <add key="Callback" value="http://211.149.145.29/TradeData/TradeOrderCallbackHandles.php" />
    <add key="OrderInterval" value="1000" />
  </appSettings>
  <startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup>
</configuration>
