<?xml version="1.0"?>
<configuration>
  
  <appSettings>
    <add key="LogFile" value="log{Date}.txt"/>
    <add key="LogMsg" value="{DateTime} : {Msg}"/>
    <!--<add key="GetHighestBuy" value="http://localhost:50580/TradeData/GetHighestBuyRequest" />
    <add key="GetLowestSell" value="http://localhost:50580/TradeData/GetLowestSellRequest" />
    <add key="Callback" value="http://localhost:50580/TradeData/TradeOrderCallbackHandles" />-->
    <add key="GetHighestBuy" value="http://211.149.145.29/GetHighestBuyRequest.php" />
    <add key="GetLowestSell" value="http://211.149.145.29/GetLowestSellRequest.php" />
    <add key="Callback" value="http://211.149.145.29/TradeOrderCallbackHandles.php" />
    <add key="OrderInterval" value="1000" />
    
    <add key="GetLatestKLineTimeInterface" value="http://211.149.145.29/GetLatestKLineTime.php"/>
    <add key="GetLatestKLine" value="http://211.149.145.29/GetLatestKLine.php"/>
    <add key="GetServerTimeInterface" value="http://211.149.145.29/GetServerTimeInterface.php"/>
    <add key="GetOrderListInterface" value="http://211.149.145.29/GetOrderListInterface.php?startTime={0}&amp;toTime={1}&amp;identifyID={2}"/>
    <add key="KLineCallback" value="http://211.149.145.29/KLineCallbackHandles.php"/>
    <add key="KLineInterval" value="1000"/>
    <add key="MinutesPerKLine" value="60"/>
    <add key="KLineMinutes" value="5"/>
  </appSettings>
  <startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup>
</configuration>
