<?xml version="1.0"?>
<configuration>
  <appSettings>
    <!--最好用绝对路径，否则的话，日志被存入系统路径-->
    <add key="LogFile" value="E:\\log-{Date}.txt"/>
    <add key="LogMsg" value="{DateTime} : {Msg}"/>
    <add key="GetHighestBuy" value="http://localhost:50580/TradeData/GetHighestBuyRequest"/>
    <add key="GetLowestSell" value="http://localhost:50580/TradeData/GetLowestSellRequest"/>
    <add key="Callback" value="http://localhost:50580/TradeData/TradeOrderCallbackHandles"/>
    <add key="OrderInterval" value="1000"/>
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
</configuration>
