<?xml version="1.0"?>
<configuration>
  <appSettings>
    <!--最好用绝对路径，否则的话，日志被存入系统路径-->
    <add key="LogFile" value="E:\\klinelog-{Date}.txt"/>
    <add key="LogMsg" value="{DateTime} : {Msg}"/>
    <add key="GetLatestKLineTimeInterface" value="http://localhost:50580/KLine/GetLatestKLineTime"/>
    <add key="GetOrderListInterface" value="http://localhost:50580/Kline/GetOrderList?startTime={0}&amp;toTime={1}&amp;identifyID={2}"/>
    <add key="GetKLineListInterface" value="http://localhost:50580/KLine/GetKLineList?startTime={0}&amp;toTime={1}&amp;identifyID={2}"/>
    <add key="KLineCallback" value="http://localhost:50580/KLine/KLineCallbackHandles"/>
    <add key="KLineInterval" value="1000"/>
    <add key="MinutesPerKLine" value="60"/>
    <add key="KLineMinutes" value="5"/>
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
</configuration>
